html,
body {
  height: 100%;
  margin: 0;
  font-family:Roboto, sans-serif;
}
a{
  color:blue;
}

.full-height {
  height: 100%;
  width: 100%;
  background: #f7f7f8;
}
.container {
  width: 95%;
  top: 25px;
  height: 600px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  text-align: center;
  margin-top: 0px;
  overflow: auto;
}
.table {
  width: 100%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 0;
  border-collapse: collapse;
  border-bottom: 1px solid #d4dbe4 ;
}
thead {
  background: white;
  border-bottom: 1px solid #d4dbe4 ;
  color: #67768c !important;
  position: sticky;
  top: 0;
}
tr {
  height: 60px;
  font-size: 14px;
  border-bottom: 1px solid #d4dbe4 !important;
}
td {
  border-width: 0;
}

.header {
  height: 80px;
}
#page1 {
  position: absolute;
}
.btn {
  float: right;
  height: 37px;
  width: 110px;
  border: none;
  background: white;
  margin-top:10px;
  margin-right: 30px;
  font-size: 14px;
  box-shadow: 1px 2px 5px 2px rgb(202, 200, 200);
  font-family: Roboto, sans-serif;
  font-weight:700;
  color: #101928;
}
.btn:hover {
  box-shadow:1px 2px 2px 1px rgb(202, 200, 200);
}

h1,
h2 {
  background: white;
  font-size: 35px;
  padding-left: 80px;
  margin-top: 0;
  height: 50px;
  padding-top: 20px;
}
h2{
  font-weight:300;
  color:#67768c;
  font-size:27px;
  float:center;
  padding:none;
}

.inline {
  float: right;
  margin-right: 18px;
}

#button {
  height: 80px;
}

#toggle {
  height: 100%;
  width: 100%;
  background: rgba(14, 14, 14, 0.6);
  position: fixed;
  z-index: 1000;
}

.dropdown {
  width: 100%;
}

.search_div {
  font-size: 0;
  width: 100%;
  padding: 10px 0px;
}

.search {
  width: 95%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border-radius: 3px;
  background: white;
  padding-left: 20px;
  border:none;
  font-size:18px;
  font-weight:50;
  color:#3d3d3d;
}

.icon {
  height: 45px;
  width: calc(16% - 10px);
  margin: 0 !important;
  background: rgb(109, 177, 233);
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border: none;
}
.icon:hover {
  background: rgb(137, 194, 240);
}
.drop {
  width: 95%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border-radius: 3px;
  background: white;
  padding-left: 20px;
  border-color:#ababad;
  box-sizing:border-box;
  margin-top:10px;
  margin-bottom:10px;
  font-size:18px;
  font-weight:50;
  color:#3d3d3d;
}
.label {
  padding-left: 15px;
  margin-top: 10px;
  color:#67768c;
}

.form_bar {
  position: absolute;
  right: -30%;
  top: 0;
  bottom: 0;
  background: #f7f7f8;
  width: 16%;
}



.cross {
  float: right;
  height: 60px;
  width: 60px;
  display: block;
  content: " ";
  background: white;
  border: none;
}

.cross:hover {
  cursor: pointer;
  background: rgb(218, 217, 217);
}

.ui-front {
  z-index: 10000 !important;
}

.ui-widget-content {
  background: rgb(235, 233, 233) !important;
}

.ui-widget {
  font-size: 21px !important;
}
.ui-menu-item {
  padding: 5px !important;
}

.ui-menu-item:hover {
  background: white !important;
  border: none !important;
}

.ui-autocomplete {
  position: fixed !important;
  cursor: pointer !important;
}
